<body>

    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" >
          <img src="assets/images/glop.jpg"  style="height: 60px; width: 90px"  alt=""> 
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll" style="text-align: center;">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height:100px; text-align: center; ">
              <li>
                <button type="button"  routerLink="home" style="margin-left: 300px; border:none; background-color: rgb(248, 248, 248)" >Home</button>
              </li>
              <li >
                <button type="button"  routerLink="aboutus" style="margin-left: 20px; border:none; background-color: rgb(248, 248, 248);">About us</button>
              </li>
              
                
              <li >
                <button type="button"  routerLink="contactus" style="margin-left: 20px; border:none; background-color: rgb(248, 248, 248);">Contact us</button>
              </li>

              <li >
                <button type="button"  routerLink="login" style="margin-left: 20px; border:none; background-color: rgb(248, 248, 248);">Login</button>
              </li>


              <li >
                <button type="button"  routerLink="redister" style="margin-left: 20px; border:none; background-color: rgb(248, 248, 248);">Register</button>
              </li>

              <li >
                <button type="button"  routerLink="employee-list" style="margin-left: 20px; border:none; background-color: rgb(248, 248, 248);">Employee-list</button>
              </li>

              <li >
                <button type="button"  routerLink="addemployee" style="margin-left: 20px; border:none; background-color: rgb(248, 248, 248);">Add Employee</button>
              </li>



            </ul>
          
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
    
            
          </div>
        </div>
    
      </nav>
    
    
      <div class="row">
        <div class="column1">
         
          <img src="assets/images/bac1.jpg" style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px; height: 350px; width: 540px;" alt=""> 
             
        </div>
        <div class="column2">
        
          <p style="text-align: center; margin-left: 90px; margin-bottom: 90px; margin-top: 100px; size: 50px;">Established in 1998, <br>
            GLOBCOM is a wholly owned Omani company with a staff strength of over 400.
             It is managed by Omanis with a long history and understanding of the local business environment in general and the ICT space in particular.
              At GLOBCOM, we believe in evolving with the eco-system.</p>
         
              <!-- <button (click)="showSuccess()">Show Success Toast</button> -->
                  <button (click)="showError()" class="buttonvisit" style="margin-left: 200px; border-radius: 2rem; size: 20px; width: 300px; height: 60px; box-shadow: 2px 2px 2px 2px darkgreen; text-shadow: lightgreen; text-size-adjust: 30px;">Visit Our Website</button>

        </div>
      </div>
    
    
      <div class="container">
        <div class="footer">
          <p>Copyright By &copy; Global Computer Services Company</p>
        </div>
      </div>
      
    </body>